<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Beershop - Administration</title>
<!-- bootstrap -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
<link rel="shortcut icon" type="image/png" th:href="@{../favicon.ico}"/>
</head>


<body>

	<div class="container">
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">Beershop Admin</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/admin/new-beer">Nouvelle bières <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
		      </li>
		    </ul>
		    
		  </div>
		</nav>
		
		<!-- choix fragment -->
		<div th:if="${showNew}">
			<div th:replace="fragment/beer :: new-beer"></div>
		</div>
		<div th:if="${showList}">
			<div th:replace="fragment/beer :: beer-list"></div>
			<a class="btn btn-primary" href="/admin/new-beer">Enregistrer une nouvelle bière</a>
		</div>
		
	    
	    
    </div>
    
    
    
    <div th:replace="fragment/common :: webjar-footer"></div>
</body>

</body>
</html>